.landing {
  background-color: #fafafa;
}

.fadeBackground {
  background-image: url("../../images/instagram.png");
  width: 100px;
  height: 100px;
  /* border: solid 2px red; */
}
/* 
@keyframes fadeImage {
  0% {
    opacity: 1;
  }
  50% {
  }
} */
